<div class="row">
  <div class="form-group col-sm-12">
    <form method="POST" action="/api/v01/templates/{{имяШаблона}}/fill" enctype="multipart/form-data" id="template">
      {{поляФормы}}
      <input type="hidden" name="label" value="{{имяШаблона}}"/>
      <div class="form-group">
        <label>Выберите формат для выгрузки</label>
        <input type="radio" name="_t24_outputFormat" value="docx" checked="yes"/>docx
        <input type="radio" name="_t24_outputFormat" value="pdf"/>pdf
      </div>
      <button form="template" type="submit" formmethod="POST" formaction="/api/v01/templates/{{имяШаблона}}/fill" class="btn btn-success btn-block">Скачать заполненный шаблон</button>
    </form>
  </div>
</div>