<div class="form-group">
  <form method="POST" enctype="multipart/form-data" action='/api/v01/templates' id="upload_file">
    <div class="form-group">
      <label class="font-weight-bold">Укажите название шаблона</label>
      <input class="form-control" type="text" name="label" required="" value="{{шаблон}}"/>
    </div>
    <div class="form-group" id="status" value="{{статус}}">
      <label class="font-weight-bold">Шаблон открыт</label><br/>
      <input type="radio" name="status" value="public" id="public"><span class="ml-1">Для всех</span></input>
      <input type="radio" name="status" value="safe" id="safe"><span class="mh-1">Для авторизованных</span></input>
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Выберите файл с шаблоном</label>
      <input class="form-control" type="file" name="template" required="" accept=".docx" id="template_file"/>
    </div>
    <button form="upload_file" type="submit" formmethod="POST" class="btn btn-success btn-block">Создать/обновить шаблон</button>
  </form>
</div>