<footer >
    <div class="container text-muted" >
        <span> Система
          <a href="http://iro37.ru/xqwiki/Artel" title="Информационная система поддержки учебного процесса"><img src="/static/img/simplexLogo.png" height="20" class="d-inline-block align-center" alt="система simplex"/></a>
        </span>
        <span class="pl-5">разработана © группой</span>
        <a href="http://iro37.ru/xqwiki/Artel">artel</a>
        <span> (<script type="text/javascript">document.write(new Date().getFullYear());</script>)</span>.
        <span class="pl-5">Powered by</span>
        <span class="badge badge-primary">
          <a target="_blank" href="http://iro37.ru/xqwiki/TRaC" style="color : white">TRaC™</a>
        </span>
    </div>
</footer>