<div class="row">
  <div class="col-md-10 text-truncate">
    <a class="font-weight-bold" href="/lk?label={{fileName}}">{{fileName}}</a>
  </div>
  <div class="col-md-2">
    <a class="float-right delete-template" href="/api/v01/templates/delete?label={{fileName}}" onclick="return confirm( 'Удалить?' );">
      <i class="fa fa-trash-alt"></i>
    </a>
  </div>
</div>