<header class="container-fluid px-0" style="background-color: #e8f0fe;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>   
    <!-- Fixed navbar -->
  <body>
    <div class="container">    
      <nav class="navbar navbar-toggleable-md navbar-expand-md navbar-light" id="commRollover">
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><h4>{ЗаполниТитул v2}</h4></a>  
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <table>
            <tr><td><a href="/lk">{{меню}}</a><br/></td></tr>
            <tr><td>{{выйти}}</td></tr>
          </table>
        </div>
      </nav>
    </div>
  </body>
</header>
