<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Лицей Перспектива" />
    <meta name="author" content=""/>

    <title>Лицей Перспектива</title>

    <!-- Bootstrap core CSS -->
    <link href="https://bootstrap-4.ru/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="https://bootstrap-4.ru/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet"/>
    
    <link rel="shortcut icon" href="/static/img/ZapolniTitul-favikon-32x32.jpg" type="image/x-icon"></link>
    <link rel="icon" href="/static/img/favicon.ico" type="image/png"></link>    
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
  </head>
  
  <body class="container-fluid">
    <div class = "header">{{header}}</div>
    <div class="body md-3">{{body}}</div>
    <div class = "footer">{{footer}}</div>
  </body>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"></link>
  <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <!--  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
     
    <script src="https://bootstrap-4.ru/assets/js/vendor/popper.min.js"></script>
    <script src="https://bootstrap-4.ru/dist/js/bootstrap.min.js"></script>
</html>
