<div class="row">
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
    <script src="/static/yandex-id-1.js"></script>
    
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form class="card shadow rounded p-4 m-4" id="login">
            <a id="{{is_login}}" class="btn btn-info mt-3" href="/lk">В личный кабинет</a>
            <a class="btn btn-info mt-3" form="login" type="submit" target="_blank" href="https://clck.ru/36qF5r">Небольшая инструкция</a>
            <a class="btn btn-info mt-3" form="login" type="submit" target="_blank" href="https://disk.yandex.ru/i/eXlFlxiJwq0ZKw">Образец</a>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>
