<div>
  <div class="row">
    <div class="col-md-3 border-right">
      <h3>Мои шаблоны</h3>
      {{списокШаблонов}}
    </div>
    <div class="col-md-5 border-right">
      {{формаШаблона}}
    </div>
    <div class="col-md-4">
      <h3>Загрузить/обновить шаблон</h3>
      {{загрузитьШаблон}}   
    </div>
  </div>
  <script src="/static/upload-template.js"></script>
</div>
